@import './variables';

$font-family: 'Archivo', sans-serif;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;

  @media (max-width: 768px) {
    font-size: 57.75%;
  };

  @media (max-width: 400px) {
    font-size: 53%;
  };
}

body {
  background: map-get($theme-colors, 'background');
  color: map-get($theme-colors, 'text');
}

#root {
  max-width: 900px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

body, input, button {
  font: 400 1.6rem $font-family;
}