@import '/src/styles/variables';

.home {
  width: 100%;

  &__contentButtons {
    display: flex;
    gap: 3rem;
    margin: 2rem 0;
    justify-content: center;
  }

  &__contentCardsGithubUser {
    margin-top: 3rem;
  }

  &__contentCardsRepository {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #ddd;
  }
}