@import '/src/styles/variables';

.form {
  margin-bottom: 3rem;

  &__content {
    display: flex;
    gap: 1rem;
  }

  &__input {
    flex: 1;
    height: 6rem;
    padding: 0 2.4rem;
    border: 0;
    border-radius: 5px;
    border: 2px solid map-get($theme-colors, 'border');

    &--error {
      border-color: map-get($theme-colors, 'red');
    }
  }
}